.container{
    background-color: rgb(248, 171, 77);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#warning {
    text-align: center;
    display: none;
    font-size: 35px;
}